.label{
  &--for-select {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    position: relative;
    .user-select-cross-brow(none);
    z-index: 1;


    i.material-icons, i.fa.fa-angle-down {
      vertical-align: middle;
      position: absolute;
      right: 5px;
      bottom: 3px;
      font-size: 18px;
      z-index: -3;
      .user-select-cross-brow(none);
    }
  }
}