.mobile-logo{
  display: none;
  @media (max-width: 425px) {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
}
.main-logo{
  text-align: center;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 1;
  @media (max-width: 1023px) {
    display: block;
    position: relative;
    margin-bottom: 27px;
    img{
      width: 180px;
    }
  }
  @media (max-width: 425px) {
    display: none;
  }
}