<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->
</head>
<body style="color:#4A4A4A;Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;color: #4A4A4A;">
<center class="wrapper"style="border-spacing:0;background-image:url('http://92.243.95.51:3000/assets/images/pattern.png');background-repeat:repeat;background-position:top left;background-attachment:scroll;background-size:42%;padding-top:20px;padding-bottom:20px;;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <div class="webkit" style="overflow:hidden;background-color:#fdfdfd;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;box-shadow:2px 2px 8px 2px rgba(0,0,0,.5);max-width:600px;border-radius:4px;">
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
            <tr>
                <td>
        <![endif]-->
        <table class="outer" align="center"  style="border-collapse:collapse;border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;">
            <tbody>
                <tr class="full-width-column" style="text-align:center;">
                    <td style="margin:0;padding:0;border-spacing:0;background:rgba(8, 8, 8, 0.87);">
                        <img style="height:200px;" src="http://92.243.95.51:3000/assets/images/mobileLogoWhite.png"/>
                    </td>
                </tr><tr>
                    <td style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <table style="background:#ddd;box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);border-collapse:collapse;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;">
                        <tbody>
                            <tr style="border-spacing:0px;">
                                <td style="width:50%;font-size:24px;">
                                    <div style="margin-left:7px;margin-top:8px;margin-bottom:8px;">Заказ № <%= order.number  %></div>
                                </td>
                            </tr>
                            <tr style="border-spacing:0px;">
                                <td class="two-column">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="column">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <img style="width:280px;" src="http://92.243.95.51:3000/file/normal/<%- order.product.images[0] %>"/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="column" >
                                                <table style="width:100%">
                                                    <tbody>
                                                    <tr>
                                                        <td class="inner-contents" style="width:100%">
                                                            <div class="product-title" style="font-size:24px;margin-bottom:90px;padding-left:5px;width:100%;">
                                                                Букет "Экстра"
                                                            </div>
                                                            <div class="product-info" style="margin-top:5px;padding-left:5px;">
                                                                <p class="collection"  style="font-size:16px;">
                                                                    Коллекция: <%- order.product.collection %>
                                                                </p>
                                                                <p class="flower-type"  style="font-size:16px;">
                                                                    Тип цветов: <%- order.product.flowerType %>
                                                                </p>
                                                                <p class="flower-count" style="font-size:16px;">
                                                                    Количество цветов: <%- order.product.count %>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="border-spacing:0px;">
                                <td class="one-column">
                                    <table width="100%">
                                        <tbody>
                                        <tr style="">
                                            <td class="inner contents" style="padding-left:7px;padding-top:8px;">
                                                <h3><span>Итого: <%- order.product.price %>,00 &#x20bd;</span></h3>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr><tr class="footer" style="max-width:600px;background:rgba(8, 8, 8, 0.87);">
                    <td style="padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;">
                        <table style="width:100%;border-spacing:0;margin:0;padding:0;">
                            <tbody>
                                <tr>
                                    <td class="inner-contents" style="font-size:18px;text-align:center;font-family:Roboto;color:#FFF;font-weight:200;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                        <div style="margin-top:8px;margin-bottom:16px;">
                                            <div style="margin-bottom:24px;">Возникли вопросы? Звони!</div>
                                            <div style="background-size:contain;width:180px;margin-bottom:16px;margin-left:auto;margin-right:auto;background-image: url('http://92.243.95.51:3000/assets/images/mailIconPhone.png'); background-repeat:no-repeat;">
                                                +7(495)777-77-77
                                            </div>
                                            <div style="background-size:contain;width:140px;margin-bottom:16px;margin-left:auto;margin-right:auto;background-image: url('http://92.243.95.51:3000/assets/images/mailIconInst.png'); background-repeat:no-repeat;">
                                                Instagram
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>
</center>
</body>
</html>
