<tr style="background:#ddd;">
    <td>
        <table style="width:100%;">
            <tbody>
            <tr>
                <td style="width:50%;">Заказ № <%=  %></td>
            </tr>
            </tbody>
        </table>
    </td>
</tr><tr style="background:#ddd;">
    <td class="two-column">
        <table>
            <tbody>
            <tr>
                <td class="column">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img src="http://tutsplus.github.io/creating-a-future-proof-responsive-email-without-media-queries/images/two-column-01.jpg" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="column">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                        <tr>
                            <td>
                                Hello
                            </td>
                        </tr>
                        <tr>
                            <td>
                                World
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test
                            </td>
                        </tr>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr><tr style="background:#ddd;">
    <td class="one-column">
        <table width="100%">
            <tbody>
            <tr>
                <td class="inner contents">
                    <h3><span>Итого: </span><%= (order.product.priceM || order.product.priceS) + ', 00 руб.' %></h3>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>