<tr>
    <td>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td class="two-column" style="width:50%">
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%">
                            <tr>
                                <td width="50%" valign="top">
                        <![endif]-->
                        <div class="column">
                            <table style="width:100%;">
                                <tbody>
                                    <td class="inner">
                                        <table class="contents">
                                            <img src="http://tutsplus.github.io/creating-a-future-proof-responsive-email-without-media-queries/images/two-column-1.jpg" />
                                        </table>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td><td width="50%" valign="top">
                        <![endif]-->
                        <div class="column">
                            <table style="width:100%;">
                                <tbody>
                                    <td class="inner">
                                        <table class="contents">

                                        </table>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                                </td>
                            </tr>
                        </table>
                        <![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>