<tr>
    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
            <tbody><tr>
                <td class="inner contents" style="color: #4A4A4A;text-align:center;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;" >
                    <p style="font-size:26px;line-height:30px;Margin:0;font-weight:bold;Margin-bottom:10px;">Пользователь направил Вам приглашение</p>
                    <p style="font-size:16px;line-height:20px;font-weight:300;">

                        в Личный кабинет с Вашими предложениями по недвижимости,
                        Например:
                        <br>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr><tr>
    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
            <tbody><tr>
                <td class="inner contents" style="text-align:center;width:100%;" >

                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr><tr>
    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
            <tbody><tr>
                <td class="inner contents" style="text-align:center;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;" >
                    <p style="font-size:20px;line-height:26px;font-weight:500;">Чтобы принять приглашение, пройдите по
                        <a href="">ссылке</a>.</p>

                    <p style="font-size:18px;line-height:24px;font-weight:400;">Вся информация о вашей недвижимости собрана
                        <a href="">здесь</a>.</p>

                    <p style="font-size:16px;line-height:20px;font-weight:300;">
                        Наш портал предоставляет прямой контакт между арендаторами и покупателями <br>
                        и исчерпывающее описание Ваших объектов.
                    </p>
                    <p style="font-style:normal;font-size:12px;text-align:center;font-weight:100;">
                        Это быстро, просто и эффективно.
                    </p>
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
