.select{
  &[disabled]{
    color: @black1;
    cursor: default;
    &:hover{
      border-color: @black1;
    }
  }
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .border-top-right-radius-cross-brow(2px);
  .border-top-left-radius-cross-brow(2px);

  padding: 1px 0 2px 8px;
  border: none;
  border-radius: 0;
  -moz-border-radius:0;
  -webkit-border-radius: 0;
  border-bottom: 1px solid @black2;
  background: none;
  color: @black3;

  outline: none;
  .transition-cross-brow(.5s);

  &:hover{

    border: none;
    border-bottom: 1px solid @lightBlue6;
    background: none;

    cursor: pointer;
  }
  &:active{

    border-bottom: 1px solid @lightBlue6;
    background: none;
  }

  &:focus{

    outline: none;
  }

  &.not-valid{

    background: @red1;
    border-color: @red4;
    color: @red4;
  }
  &.ng-invalid{

    background: @red1;
    border-color: @red4;
    color: @red4;
  }



}
select{
  .select;
}