<!--Материалы! но не отображаются на странице-->
<div ng-if="$root.user.isAuthenticated&&false">
<div nv-file-drop="" uploader="uploader" style="display: inline-block; width: 80px;height: 80px;"
     options="opts"
     class="well img-upload_plate img-upload_drop img-upload_drop--in-user-settings ">
    <label nv-file-over=""
           class="file-upload"
           uploader="uploader">
        <i class="fa fa-plus fa-2x"></i>
        <input type="file" nv-file-select="" ng-focus=""
               style="cursor:  pointer; overflow: hidden;"
               accept="image/jpg,image/png,image/jpeg,image/bmp,image/gif"
               options="opts"
               uploader="uploader"/>
    </label>
</div>
<div style="position:fixed;top:51px;left:0;right:0;" ng-show="uploader.isUploading">
    <div class="">
        <div class="row" style="background:rgba(193, 214, 232, 0.92);border-radius:5px 5px 0 0">
            <div class="col-xs-12">
                <div class="progress" style="height:auto;position:relative; padding: 0; margin: 0;">
                    <div class="progress-bar bg-info file-upload-progress"
                         role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div ng-if="imgId">
    <!--<img src="/file/normal/{{imgId}}" alt="">-->
    <!--<img src="/file/tmb/{{imgId}}" alt="">-->
</div>

<a target="_self" href="/static/contacts.html">rteyew</a>
</div>

<div class="wrap-main-page-second">
    <div class="row wrap-top">
        <div class="col-xs-12 col-md-2" ng-click="setFilter('White', 'box')" >
            <div class="boxes nav-arrow" ng-if="vm.filter.type !== 'box'">
                <i class="material-icons">&#xE314;</i>
                <span>К коробкам</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12 text-center hidden-xs collections">
                    <span>Diamond’s collections</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4 text-center" ng-click="setFilter('White')">
                    <div class="white diamond" ng-class="vm.filter.collection == 'White' ? 'isActive' : 'isInactive'" style="width: 35px;height: 32px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                    <span>White</span>
                </div>
                <div class="col-xs-6 col-md-4 text-center"  ng-click="setFilter('Black');">
                    <div class="black diamond" ng-class="vm.filter.collection == 'Black' ? 'isActive' : 'isInactive'" style="width: 35px;height: 32px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                    <span>Black</span>
                </div>
                <div class="col-xs-12 col-md-4 text-center" ng-click="setFilter('Exclusive')">
                    <div class="exclusive diamond" ng-class="vm.filter.collection == 'Exclusive' ? 'isActive' : 'isInactive'" style="width: 35px;height: 32px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                    <span>Exclusive</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2" ng-click="setFilter('White', 'flower')">
           <div class="bouquet nav-arrow" ng-if="vm.filter.type !== 'flower'">
               <span>К букетам</span>
               <i class="material-icons">&#xE315;</i>
           </div>
        </div>
    </div>
</div>
<div class="main-wrap">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h1 ng-if="vm.filter.type == 'box'" class="flowers">Цветы в коробках</h1>
                <h1 ng-if="vm.filter.type == 'flower'" class="flowers">Букеты</h1>
            </div>
            <div class="col-xs-12">
                <div infinite-scroll="getItems()" infinite-scroll-distance="3" infinite-scroll-disabled="!vm.isInfiniteScroll||allListDnl||(listCount <= list.length)">
                    <div df-main-list="list"></div>
                </div>
                <div style="margin-bottom: 20px;margin-top: 10px;" class="btn btn-primary" ng-if="!vm.isInfiniteScroll" ng-click="vm.isInfiniteScroll=true">
                    Показать еще
                </div>
            </div>
            <div class="col-xs-12" ng-if="false">
                <span>Букеты</span>
            </div>
        </div>
    </div>
</div>