.wrap{
  &-main-page{
    &-first{
      padding-top: 27px;
      padding-bottom: 47px;
      @media (max-width: 1023px) {
        padding-bottom: 27px;
      }
      .container{
        position: relative;
      }
    }
    &-second{
      padding-top: 14px;
      padding-bottom: 14px;
      background: @black4;
      color: @white3;
      position: relative;
      z-index: 10;
      .box-shadow-cross-brow(@materialShadowWrap_Double);
      .nav-arrow {
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
      }
      .boxes {
        margin-top: 33px;
      }
      .bouquet {
        margin-top: 33px;
      }
      .diamond {
        margin:0 auto 7px auto;
        cursor: pointer;
        .transition-cross-brow(.5s);
        &:hover{
          .transform-cross-brow(scale(1.2));
        }
      }
      .isActive {
        background: url(/assets/images/diamondPrimary.png);
      }
      .isInactive {
        background: url(/assets/images/diamond.png);
      }
      //.white {
      //  background: url(/assets/images/diamondPrimary.png);
      //}
      //.black {
      //  background: url(/assets/images/diamond.png);
      //}
      //.exclusive {
      //  background: url(/assets/images/diamond.png);
      //}
      .material-icons {
        vertical-align: middle;
      }

      .collections {
        margin-bottom: 10px;
      }

      @media (max-width:425px) {
        .boxes {
          width: 150px;
          margin: 5px auto 0px auto !important;
        }
        .bouquet {
          width: 150px;
          margin: 0px auto 5px auto !important;
        }
      }

      @media (max-width: 1025px) {
        .boxes {
          margin: 33px 0 0 0;
        }
        .bouquet {
          margin: 33px 0 0 0;
        }
      }
    }
    &-third{
      background: @lightBlue7;
      color: @black3;
      padding-top: 11px;
      padding-bottom: 7px;
      text-align: center;
      font-size: 26px;
      line-height: 30px;
      .box-shadow-cross-brow(@materialShadowWrap_third);
      @media (max-width: 600px) {
        display: none;
      }
      .container{
        max-width: 679px;
      }
      .sub-span{
        font-size: 20px;
        line-height: 24px;
        margin-top: 11px;
        color: @black2;
      }
    }
  }
}
.main-wrap{
  background: @gray1;
  .flowers {
    color: #707070;
    font-size: 28px;
    font-weight: 300;
  }
}

.collection {
  margin-bottom: 10px;
}

.white:hover {

}