.footer{
  background: @black4;
  color: @white3;
  .box-shadow-cross-brow(@materialShadowWrap_Double);
  padding-top: 41px;
  padding-bottom: 16px;

  .description{
    max-width: 702px;
    font-size: 16px;
    line-height: 20px;
    color: @white2;
    @media (max-width: 1024px) {
      width: 600px;
    }
    @media (max-width: 768px) {
      width: 430px;
    }
  }

  .menu{
    display: none;
    margin-bottom: 36px;
    margin-top: 26px;
    >a{
      display: block;
      margin-bottom: 5px;
      color: @white2;
      font-weight: 100;
      font-size: 12px;
      line-height: 14px;

    }
  }

  .left-part{
    display: inline-block;
    float: left;
    @media (max-width: 425px) {
      width: 100%;
      .menu {
        margin: 5px auto;
        max-width: 100px;
      }
    }
  }

  .right-part{
    display: inline-block;
    float: right;
    .info{
      float: none;
    }
    .phone{
      font-size: 24px;
      margin-bottom: 15px;
      span{
        font-size: 24px;
        line-height: 28px;
        color: @white5;
      }
      i.material-icons{
        color: @white3;
        font-size: 24px;
        margin-right: 27px;
        vertical-align: middle;
      }
      a{
        color: @white5;
        &:hover{
          color: @white5;
          text-decoration: none;
        }
      }
    }
    .mail{
      font-size: 20px;
      margin-bottom: 15px;
      span{
        font-size: 20px;
        line-height: 24px;
        color: @white3;
      }
      i.material-icons{
        color: @white3;
        font-size: 20px;
        width: 24px;
        text-align: center;
        margin-right: 27px;
        vertical-align: middle;
      }
      a{
        color: @white5;
        &:hover{
          color: @white5;
          text-decoration: none;
        }
      }
    }
    .info-label{
      margin-bottom: 7px;
      font-size: 24px;
      line-height: 28px;
      color: @white3;
      max-width: 261px;
    }
    .inst{
      font-size: 24px;
      span{
        font-size: 24px;
        line-height: 28px;
        color: @white3;
        display: inline-block;
      }
      .fa{
        color: @white3;
        font-size: 24px;
        margin-right: 27px;
        width: 24px;
        text-align: center;
      }
      a{
        color: @white5;
        &:hover{
          color: @white5;
          text-decoration: none;
        }
      }
    }
    @media (max-width: 425px) {
      width: 100%;
      margin-bottom: 10px;
      .info {
        width: 280px;
        margin: 0 auto;
      }
    }
  }

  .bottom-line{
    color: @white1;
    font-weight: 100;
    float: left;
    width: 100%;
    .rights{
      display: inline-block;
      float: left;
      font-size: 16px;
      line-height: 19px;
      i.material-icons{
        font-size: 20px;
        vertical-align: bottom;
      }
      @media (max-width: 425px) {
        text-align: center;
        margin-bottom: 15px;
      }
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }
    .develop{
      font-size: 12px;
      line-height: 14px;
      display: inline-block;
      float: right;
      margin-top: 6px;
      @media (max-width: 425px) {
          text-align: center;
      }
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}