<!DOCTYPE html>
<html ng-app="shopApp" ng-controller="appCtrl" lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">

    <title>Diamond Flowers</title>
    <meta name="description" content="Доставка цветов в шляпных коробках">
    <!--<meta name="keywords" ng-if="pageKeywords"  content="{{pageKeywords}}" />-->

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="304Fix" content="safari-fix">
    <meta name="fragment" content="!">
    <meta name="prerender-status-code" content="200">
    <meta name="prerender-header" content="Location: https://diamondflowers.ru">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Diamond Flowers">
    <meta name="twitter:description" content="Доставка цветов в шляпных коробках.">
    <meta name="twitter:image:src" content="https://diamondflowers.ru/assets/images/mstile-310x310.png">
    <meta name="twitter:url" content="https://diamondflowers.ru/">
    <meta name="twitter:domain" content="diamondflowers.ru">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@diamondflowers">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Diamond Flowers">
    <meta property="og:title" content="Diamond Flowers">
    <meta property="og:description" content="Доставка цветов в шляпных коробках.">
    <meta property="og:url" content="https://diamondflowers.ru/">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="http://diamondflowers.ru/assets/images/mstile-310x310.png">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">


    <!-- FAVICON-->
    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">

    <meta name="msapplication-config" content="browserconfig.xml" />

    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/assets/images/mstile-144x144.png">
    <!-- FAVICON-->

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}
        [ng-cloak].splash {display: block !important;}
        .splash {display: none; box-shadow: inset 0 3px 5px rgba(255,255,255,.3), inset 0 3px 15px rgba(255,255,255,.3),inset 0 -3px 5px rgba(0,0,0,0.26), inset 0 -3px 15px rgba(0,0,0,0.22);  height: 100%;  width: 100%;  position: absolute;  top: 0;  left: 0;  background: rgba(8, 8, 8, 0.87);  text-align: center;  vertical-align: middle;  }
        .splash-span{  color: white;  position: absolute;  top: calc(50% - 70px);  left: 0;  width: 100%; text-transform: uppercase;letter-spacing: .8px; }
        .preload {position: absolute;  width: 100%; top: calc(50%);  left: 0;}
        .splash-animation-container {
            /* Size and position */
            position: relative;
            width: 50px;
            height: 50px;
            margin: 0 auto; /* centering */

            /* Styles */
            border-radius: 50%;
            border: 10px solid rgb(2, 195, 193);
            border-top: 10px solid rgb(31, 234, 247); /* sector */

            opacity: 0.5;

            animation: rota 2.5s infinite linear;

            z-index: 11;
        }
        /* Animation */
        @keyframes rota {
            from { }
            to { transform: rotate(360deg); }
        }


        /*точки в разные стороны*/
        /*@-webkit-keyframes fx {*/
            /*0% {*/
                /*-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);*/
                /*transform: perspective(120px) rotateX(0deg) rotateY(0deg); }*/
            /*50% {*/
                /*-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);*/
                /*transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }*/
            /*100% {*/
                /*-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);*/
                /*transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }*/

        /*исходный*/
        /*{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}.dot {width: 20px;height: 20px;border: 2px solid white;background:white;border-radius: 50%;float: left;margin: 0 5px;transform: scale(0);animation: fx 1000ms ease infinite 0ms;}.dot:nth-child(2) {animation: fx 1000ms ease infinite 300ms;}.dot:nth-child(3) {animation: fx 1000ms ease infinite 600ms;}*/
        /*@keyframes fx {50% { transform: scale(1);opacity: 1;}100% {opacity: 0;}}*/
    </style>

    <link rel="stylesheet" href="/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="/spa/main_0.0.1.css"/>


    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:100,300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <base href="/">


</head>
<body>
<!-- PRELOADER ******************************************************* -->
<div ng-cloak="" class="splash">
    <span class="splash-span">подождите<br><small>сайт загружается</small></span>
    <div class="preload">
        <div class="splash-animation-container">
        </div>
    </div>

</div>

<div ng-cloak="">

    <div class="wrap-main-page-first">
        <div class="container">
            <a href="/" class="mobile-logo">
                <img width="107" src="/assets/images/mobileLogo.png" alt="mobileLogo.png">
            </a>
            <a href="/" class="main-logo">
                <img width="240" src="/assets/images/mainLogo.png" alt="mainLogo.png">
            </a>
            <div class="block-first-info">
                <div class="wrap-info">
                    <div class="phone">
                        <a href="tel:+74957777777">
                        <i class="material-icons">&#xE32C;</i>
                        <span>8 (495) 777-77-77</span>
                        </a>
                    </div>
                    <div class="inst">
                        <a target="_blank" href="https://www.instagram.com/diamond_flowers_msk/">
                        <div class="fa fa-instagram"></div>
                        <span>Instagram</span>
                        </a>
                    </div>
                    <div class="work-time" ng-dblclick="toLogIn()">
                        <i class="material-icons">&#xE192;</i>
                        <span>Без выходных и перерывов</span>
                    </div>
                    <div class="delivery">
                        <i class="material-icons">&#xE531;</i>
                        <span>Бесплатная доставка по всей Москве</span>
                    </div>
                    <div class="paying">
                        <i class="material-icons">&#xE870;</i>
                        <span>Оплата любым удобным для Вас способом</span>
                    </div>
                </div>
            </div>
            <div class="btn-admin-group row pull-right" ng-if="$root.user.isAuthenticated" style="position: relative;z-index: 10;">
                    <div class="col-xs-12" style="margin-bottom: 10px;">
                        <div class="btn btn-default btn-primary pull-right" ui-sref="orders" ng-click="" angular-ripple="">
                    <span>
                        Заказы
                    </span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn btn-default btn-primary pull-right" ng-click="$root.logOut()" angular-ripple="">Выход</div>
                    </div>
            </div>
        </div>
    </div>

    <div ui-view=""></div>

    <div class="wrap-main-page-third">
        <div class="container">
            <div>
            <span>
                ЦВЕТЫ В АВТОРСКИХ ШЛЯПНЫХ КОРОБКАХ <br>
                КАЧЕСТВЕННЫЙ ЭКСКЛЮЗИВНЫЙ ПРОДУКТ <br>
                ДЛЯ ВАШЕГО УДОВОЛЬСТВИЯ <br>
            </span>
            </div>
            <div class="sub-span">
            <span>
                С   УВАЖЕНИЕМ КОМАНДА DIAMOND FLOWERS
            </span>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="right-part">
                <div class="info">
                    <div class="phone">
                        <a href="tel:+74957777777">
                            <i class="material-icons">&#xE32C;</i>
                            <span>8 (495) 777-77-77</span>
                        </a>
                    </div>
                    <div class="mail">
                        <a href="mailto:info@diamondflowers.ru">
                            <i class="material-icons">&#xE0BE;</i>
                            <span>info@diamondflowers.ru</span>
                        </a>
                    </div>
                    <div class="info-label">
                        Новости и акции можно посмотреть тут
                    </div>
                    <div class="inst">
                        <a href="https://www.instagram.com">
                            <div class="fa fa-instagram"></div>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="left-part">
                <div class="description hidden-xs">
                <span>
                    Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is difficult
                    at best. However, communication is a necessary tool in todays world. And it’s not only speaking that can
                    be difficult, but trying to interpret body language
                </span>
                </div>
                <div class="menu">
                    <a href="#">
                        О нас
                    </a>
                    <a href="#">
                        Отзывы
                    </a>
                    <a href="#">
                        Видео о работе
                    </a>
                    <a href="#">
                        Контакты
                    </a>
                    <a href="#">
                        Карта сайта
                    </a>
                </div>
            </div>
            <div class="bottom-line col-xs-12">
                <div class="rights">
                    <i class="material-icons">&#xE90C;</i>
                    <span>
                        2017   Diamond Flowers - доставка цветов высшего сорта
                    </span>
                </div>
                <div class="develop">
                    <span>
                        Developed & Desined by S. Weezer, S. Cherepanov, D.Kuzmenkov
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

    <% if(env === 'production'){ %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-101132819-1', 'auto');
        </script>
    <% } %>

    <script src="/vendor/angular.min.js"></script>

    <%  vendorsItems.forEach( function ( file ) { %>
    <script type="text/javascript" src="/vendor<%= file %>"></script>
    <% }); %>


    <%  filesItems.forEach( function ( file ) { %>
    <script type="text/javascript" src="/spa/js<%= file %>"></script>
    <% }); %>

    <script src="/spa/templatesApp.js"></script>
</body>
</html>
