<div class="tile-edit">
    <div class="body">

    <div class="text-center">
        <h4>Редактирование товара</h4>
    </div>
    <div class="step0 row row--v20" ng-if="vm.editingStep==0">
        <div class="col-xs-6 col-xs-offset-3">
            <label class="label--for-select">
                <select class="select" required=""
                        ng-model="model.type">
                    <option value="">Выбрать тип</option>
                    <option value="box">Коробки</option>
                    <option value="flower">Букеты</option>
                </select>
                <i class="material-icons">&#xE313;</i>
            </label>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <label class="label--for-select">
                <select class="select" required=""
                        ng-model="model.collection">
                    <option value="">Выбрать коллекцию</option>
                    <option ng-repeat="item in vm.edit.collections" value="{{item}}">
                        {{item}}
                    </option>
                </select>
                <i class="material-icons">&#xE313;</i>
            </label>
        </div>
        <div class="col-xs-12">
            <input placeholder="Название" type="text" required="" ng-model="model.name" ng-maxlength="72"/>
        </div>
        <div class="col-xs-12">
            <input placeholder="Вид цветов" type="text" min="0" required="" ng-model="model.flowerType" ng-maxlength="72"/>
        </div>
        <div class="col-xs-12">
            <input placeholder="Кол-во цветов" type="number" min="0" required="" ng-model="model.flowerCnt" ng-maxlength="72"/>
        </div>
        <div class="down-btns">
            <div class="row">
                <div class="col-xs-12">
                    <div data-toggle="tooltip" data-placement="right" title="Сохранить изменения" class="btn-save btn-primary pull-right" ng-click="close(model);">
                        <span><i class="material-icons">&#xE161;</i></span>
                    </div>
                    <div class="btn-nav btn-primary pull-right" ng-click="nextStep(1);">
                        <span>Далее</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row--v20 step1" ng-if="vm.editingStep==1">
        <div class="col-xs-12">
        <div class="row row--v20">
            <div class="col-xs-12">
                <span>Маленькая</span>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.priceM" type="number" placeholder="Цена"/>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.countM" type="number" placeholder="Кол-во цветов"/>
            </div>
        </div>
        <div class="row row--v20">
            <div class="col-xs-12">
                <span>Стандартная</span>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.priceS" type="number" placeholder="Цена"/>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.countS" type="number" placeholder="Кол-во цветов"/>
            </div>
        </div>
        <div class="row row--v20">
            <div class="col-xs-12">
                <span>Большая</span>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.priceL" type="number" placeholder="Цена"/>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.countL" type="number" placeholder="Кол-во цветов"/>
            </div>
        </div>
        <div class="row row--v20">
            <div class="col-xs-12">
                <span>XXL</span>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.priceXl" type="number" placeholder="Цена"/>
            </div>
            <div class="col-xs-6">
                <input ng-model="model.countXl" type="number" placeholder="Кол-во цветов"/>
            </div>
        </div>
        </div>
        <div class="down-btns">
            <div class="row">
                <div class="col-xs-12">
                    <div data-toggle="tooltip" data-placement="right" title="Сохранить изменения" class="btn-save btn-primary pull-right" ng-click="close(model);">
                        <span><i class="material-icons save">&#xE161;</i></span>
                    </div>
                    <div class="btn-nav btn-primary pull-right" ng-click="vm.editingStep=0;">
                        <span>Назад</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>