.block-first-info{
  display: inline-block;
  position: relative;
  z-index: 10;
  .user-select-cross-brow(none);

  @media (max-width: 1023px) {
    text-align: center;
    display: block;
  }
  @media (max-width: 425px) {
    margin-left: -14px;
  }
  .wrap-info{
    @media (max-width: 1023px) {
      display: inline-block;
      text-align: left;
    }
  }
  .phone, .inst{
    a{
      color: @black4;
      &:hover{
        text-decoration: none;
        color: @black3;
      }
      &:active,&:focus,&:focus:active{
        text-decoration: none;
      }
    }
    .fa.fa-instagram,i.material-icons{
      cursor: pointer;
      margin-right: 27px;
      width: 24px;
      text-align: center;
      font-size: 24px;
      vertical-align: top;
    }
    .fa.fa-instagram{
      vertical-align: baseline;
    }
    cursor: default;
    font-size: 24px;
    line-height: 28px;
  }
  .inst{
    margin-bottom: 27px;
  }
  .phone{
    margin-bottom: 4px;
  }
  .work-time,.delivery,.paying{
    i.material-icons{
      cursor: default;
      font-size: 20px;
      vertical-align: bottom;
    }
    cursor: default;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 11px;
  }
}


@media (min-width: 1024px) {
  .row {
    &.btn-admin-group {
      margin-top: 100px;
    }
  }
}
