<div class="row row--v30" style="text-align: start">
    <div class="col-xs-12 col-md-4 col-sm-6 tile-edit" ng-if="$root.user.isAuthenticated">
        <div class="body">
            <div class="text-center">
                <h4>Добавление товара</h4>
            </div>
            <div class="row row--v20" ng-if="vm.addingStep==0">
                <div class="col-xs-6 col-xs-offset-3">
                    <label class="label--for-select">
                        <select class="select" required=""
                                ng-model="vm.addedItem.type">
                            <option value="">Выбрать тип</option>
                            <option value="box">Коробки</option>
                            <option value="flower">Букеты</option>
                        </select>
                        <i class="material-icons">&#xE313;</i>
                    </label>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <label class="label--for-select">
                        <select class="select" required=""
                                ng-model="vm.addedItem.collection">
                            <option value="">Выбрать коллекцию</option>
                            <option ng-repeat="item in vm.edit.collections" value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                        <i class="material-icons">&#xE313;</i>
                    </label>
                </div>
                <div class="col-xs-12">
                    <input placeholder="Название" type="text" required="" ng-model="vm.addedItem.name" ng-maxlength="72"/>
                </div>
                <div class="col-xs-12">
                    <input placeholder="Вид цветов" type="text" min="0" required="" ng-model="vm.addedItem.flowerType" ng-maxlength="72"/>
                </div>
                <div class="col-xs-12">
                    <input placeholder="Кол-во цветов" type="number" min="0" required="" ng-model="vm.addedItem.flowerCnt" ng-maxlength="72"/>
                </div>
                <div class="col-xs-12" ng-repeat="item in vm.addedItem.descriptions">
                    <div class="row">
                        <div class="col-xs-6">
                            <input placeholder="Название" type="text"  ng-model="item.key" ng-maxlength="72"/>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Значение" type="text"  ng-model="item.value" ng-maxlength="72"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="vm.addedItem.descriptions.length < 3">
                    <div class="btn btn-flat" ng-click="addDescItem()" >
                        <i class="material-icons">&#xE145;</i>
                        <span>Добавить поле описания</span>
                    </div>
                </div>
                <div class="down-btns">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn btn-primary pull-right" ng-click="nextStep(1)">
                                Далее
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row--v20" ng-if="vm.addingStep==1">
                <div class="col-xs-12">
                    <div class="row row--v20">
                        <div class="col-xs-12">
                            <span>Маленькая</span>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Цена" type="number" min="0" ng-model="vm.addedItem.priceM" ng-maxlength="72"/>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Кол-во цветов" type="number" min="0" ng-model="vm.addedItem.countM" />
                        </div>
                        <div class="col-xs-12">
                            <span>Стандарт</span>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Цена" type="number" min="0" ng-model="vm.addedItem.priceS" ng-maxlength="72"/>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Кол-во цветов" type="number" min="0" ng-model="vm.addedItem.countS" />
                        </div>
                        <div class="col-xs-12">
                            <span>Большая</span>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Цена" type="number" min="0" ng-model="vm.addedItem.priceL" ng-maxlength="72"/>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Кол-во цветов" type="number" min="0" ng-model="vm.addedItem.countL" />
                        </div>
                        <div class="col-xs-12">
                            <span>XXL</span>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Цена" type="number" min="0" ng-model="vm.addedItem.priceXl" ng-maxlength="72"/>
                        </div>
                        <div class="col-xs-6">
                            <input placeholder="Кол-во цветов" type="number" min="0" ng-model="vm.addedItem.countXl" />
                        </div>
                    </div>
                </div>

                <div class="down-btns">
                    <div class="row" >
                        <div class="col-xs-12">
                            <div class="btn btn-primary pull-right" ng-click="nextStep(2)">
                                Далее
                            </div>
                            <div class="btn btn-primary pull-right" ng-click="vm.addingStep = 0" style="margin-right: 16px;">
                                Назад
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row--v20" ng-if="vm.addingStep==2">
                <div class="col-xs-12 text-center">
                    <div nv-file-drop="" uploader="uploader" style="display: inline-block; width: 80px;height: 80px;position: relative;"
                         options="opts"
                         class="well img-upload_plate img-upload_drop img-upload_drop--in-user-settings ">
                        <label nv-file-over=""
                               class="file-upload"
                               uploader="uploader">
                            <i class="fa fa-plus fa-2x"></i>
                            <input type="file" nv-file-select="" ng-focus=""
                                   style="cursor:  pointer; overflow: hidden;opacity: 0;position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;"
                                   accept="image/jpg,image/png,image/jpeg,image/bmp,image/gif"
                                   options="opts"
                                   uploader="uploader"/>
                        </label>
                    </div>
                    <input type="file" nv-file-select="" ng-focus=""
                           style="cursor:  pointer; overflow: hidden;"
                           accept="image/jpg,image/png,image/jpeg,image/bmp,image/gif"
                           options="opts"
                           uploader="uploader"/>
                </div>
                <div class="col-xs-12">
                    <div class="img-list-wrap" no-body-scroll="">
                    <div class="row row--v20">
                        <div class="col-xs-4" ng-repeat="item in vm.addedItem.images track by $index">
                            <div class="img--list-tmb" ng-click="vm.addedItem.images.splice($index,1)"
                                 ng-style="{'background-image':'url(/file/tmb/{{item}})'}">
                                <div class="img-del">
                                    <i class="material-icons">&#xE5CD;</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="down-btns">
                    <div class="row" >
                        <div class="col-xs-12">
                            <div class="btn btn-primary pull-right" ng-click="saveItem()">
                                Сохранить
                            </div>
                            <div class="btn btn-primary pull-right" ng-click="vm.addingStep = 1" style="margin-right: 16px;">
                                Назад
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6 tile-main" ng-repeat="item in model">
        <div class="body">
            <div df-edit="item" ng-if="item.edit" class="ng-isolate-scope"></div>
            <div ng-if="!item.edit">
            <div class="img-wrap">
                <div class="img-list-carousel">
                    <div class="main-img" ng-init="item.activeImg = 0" ng-show="item.activeImg == $index"
                         ng-repeat="img in item.images track by $index"
                         ng-style="{'background-image':'url(/file/normal/' +  img + ')'}"></div>
                    <i style="right: 0;    bottom: 0;
                            width: 70%;
                            text-align: right;" ng-click="nextImg(item)" ng-swipe-left="nextImg(item)" class="material-icons">&#xE315;</i>
                    <i style="left: 0;bottom: 0;
                            width: 30%;
                            text-align: left;" ng-click="prevImg(item)" ng-swipe-right="prevImg(item)" class="material-icons">&#xE314;</i>
                </div>
                <div class="img-list" no-body-scroll="">
                    <div class="img-tmb-wrap"
                         ng-repeat="img in item.images track by $index"
                         ng-click="item.activeImg = $index"
                         ng-class="{'active-img':item.activeImg === $index, 'first':$index === 0}">
                        <i class="material-icons">&#xE5CA;</i>
                        <div class="img-tmb" ng-style="{'background-image':'url(/file/tmb/' + img + ')'}"></div>
                    </div>
                </div>
            </div>
            <div class="tile-info-wrap">
                <div class="text-info">
                    <div class="main-info" ng-if="item.descriptions.length > 0">
                        <div class="left">{{item.descriptions[0].key}}</div>
                        <div class="right">{{item.descriptions[0].value}}</div>
                    </div>
                    <div class="flower-info">
                        <div class="left">{{item.flowerType}}</div>
                        <div ng-if="!item.count" class="right">~{{ item.flowerCnt }} шт</div>
                        <div ng-if="item.count" class="right">~{{ item.count }} шт</div>
                    </div>
                </div>
                <div class="size-choose">
                    <div class="main-span">
                        Выбор коробки
                    </div>
                    <div class="box-item" ng-class="item.selectedBox == 'priceM' ?  'active' : false">
                        <div class="icn" ng-click="switchSize(item, 'priceM', 'countM');" style="background: url(/assets/images/boxM.png);width: 40px;height: 28px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                        <div class="name">
                            Маленькая
                        </div>
                        <span class="price">
                            {{item.priceM}}
                            <i ng-show="item.priceM" class="fa fa-rub"></i>
                        </span>
                    </div>
                    <div class="box-item" ng-click="switchSize(item, 'priceS', 'countS')" ng-class="item.selectedBox == 'priceS' ? 'active' : false">
                        <div class="icn" style="background: url(/assets/images/boxS.png);width: 40px;height: 28px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                        <div class="name">
                            Стандарт
                        </div>
                        <span class="price">
                            {{item.priceS}}
                            <i ng-show="item.priceS" class="fa fa-rub"></i>
                        </span>
                    </div>
                    <div class="box-item" ng-click="switchSize(item, 'priceL', 'countL');"  ng-class="item.selectedBox == 'priceL' ? 'active' : false">
                        <div class="icn" style="background: url(/assets/images/boxL.png);width: 40px;height: 28px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                        <div class="name">
                            Большая
                        </div>
                        <span class="price">
                            {{item.priceL}}
                            <i ng-show="item.priceL" class="fa fa-rub"></i>
                        </span>
                    </div>
                    <div class="box-item" ng-click="switchSize(item, 'priceXl', 'countXl')" ng-class="item.selectedBox == 'priceXl' ? 'active' : false">
                        <div class="icn" style="background: url(/assets/images/boxXl.png);width: 40px;height: 28px;background-size: cover; background-position: center;background-repeat: no-repeat;"></div>
                        <div class="name">
                            Exclusive
                        </div>
                        <span class="price">
                            {{item.priceXl}}
                            <i ng-show="item.priceXl" class="fa fa-rub"></i>
                        </span>
                    </div>
                </div>
                <div class="item-name">
                    {{::item.name}}
                </div>
                <div class="main-price">
                    <span ng-if="!item.price">
                    от {{ item.priceM ||item.priceS ||item.priceL ||item.priceXl }}
                    </span>
                    <span ng-if="item.price">
                        {{ item.price }}
                    </span>
                    <i class="fa fa-rub"></i>
                </div>
                <div class="dropdown-group" uib-dropdown auto-close="outsideClick" is-open="item.status">
                    <div ng-if="!$root.user.isAuthenticated" class="btn-order btn btn-primary" ng-click="openModal($event, item); uib-dropdown-toggle">
                        Заказать
                    </div>
                    <div uib-dropdown-menu role="menu" class="dropdown-menu">
                        <p> Пожалуйста, выберите размер коробки! </p>
                    </div>
                    <div class="delete btn" ng-class="item.isDeleted ? 'btn-warning' : 'btn-danger'" ng-if="$root.user.isAuthenticated" ng-click="changeStatus(item);">
                        <span ng-if="!item.isDeleted"><i class="material-icons">&#xE872;</i></span>
                        <span ng-if="item.isDeleted"><i class="material-icons">&#xE148;</i></span>
                    </div>
                    <div class="btn btn-primary edit" ng-if="$root.user.isAuthenticated">
                        <span ng-click="item.edit = !item.edit;"><i class="material-icons">&#xE3C9;</i></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
       </div>
    </div>
<div style="position:fixed;top:0;left:0;right:0;" ng-show="uploader.isUploading">
    <div class="">
        <div class="row" style="background:rgba(193, 214, 232, 0.92);border-radius:5px 5px 0 0">
            <div class="col-xs-12">
                <div class="progress" style="height:auto;position:relative; padding: 0; margin: 0;">
                    <div class="progress-bar bg-info file-upload-progress"
                         role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>

    </div>
</div>