.btn{
  color: @white5;
  cursor: pointer;
  padding: 6px 15px;

  &-primary{
   background: @lightBlue6;
    color: @white3;
    border: none;
    .border-radius-cross-brow(4px);
    padding: 6px 15px;
    .transition-cross-brow(.5s);
    &:hover{
      border: none;
      background: @lightBlue5;
      color: @white3;
    }
  }
}

.btn-flat{
  .box-shadow-cross-brow(none);
  background: none;
  .transition-cross-brow(.5s);
  &:hover{
    background: @white5;
  }
  span,i.material-icons{
    color: @black3;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    vertical-align: middle;
  }
  &--material{
    display: inline-block;
    span{
      color: @black3;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
    }
  }
}