.input{
  width: 100%;
  outline: none;
  &[disabled]{
    color: @black1;
    cursor: default;
    &:hover{
      border-color: @black1;
    }
  }

  height: 30px;
  padding: 0 5px 0 8px;
  margin-right: 10px;

  background: none;
  border: none;
  .border-radius-cross-brow(2px);
  .border-bottom-right-radius-cross-brow(0);
  .border-bottom-left-radius-cross-brow(0);

  border-bottom: 1px solid @black2;
  .transition-cross-brow(.5s);

  &.not-valid{

    background: @red1;
    border-color: @red4;
    color: @red4;
  }
  &.ng-invalid{

    background: @red1;
    border-color: @red4;
    color: @red4;
  }


  &:hover, &:active,&:focus,&:active:focus{
    border-color: @lightBlue6;
    background: none;
    outline: none !important;
    background-color: @white4;
  }
}
input{
  .input;
}