.textarea{
  margin: 17px 0 30px 0;
  padding: 5px 1%;
  float: left;

  width: 100%;
  height: 177px;

  background: @white3;
  border: 1px solid @black2;

  outline: none;

  &.ng-invalid{
    background: @red1;
    border-color: @red4;
    color: @red4;
  }

}
textarea{
  .textarea;
}