<div class="container text-center" style="margin-bottom: 50px;margin-top: 50px;">
    <div class="row row--v20" ng-if="!$root.user.isAuthenticated">
        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <!--<span>Name</span>-->
            <input type="text" placeholder="name" ng-model="vm.name">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  col-sm-offset-3 col-md-offset-4">
            <!--<span>Password</span>-->
            <input type="password" placeholder="password" ng-model="vm.password"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  col-sm-offset-3 col-md-offset-4">
            <div class="btn btn-default btn-primary" ng-click="logIn()">Вход</div>
        </div>
    </div>
    <div class="row row--v20" ng-if="$root.user.isAuthenticated">
        <div class="col-xs-12">
            <div class="btn btn-default btn-primary" ng-click="$root.logOut()">Выход</div>
        </div>
    </div>
</div>
