<div class="orders-container">
    <div class="row row--v20">
        <div class="col-xs-12 text-center">
            <div uib-pagination=""
                 max-size="7"
                 total-items="count"
                 ng-model="vm.pageCount"
                 ng-change="getOrders()"
                 class="pagination-sm"
                 items-per-page="30"
                 style="margin:0px"
                 boundary-links="true"
                 first-text="1"
                 previous-text="«"
                 next-text="»"
                 ng-if="isAdmin != false && orders.length"
                 last-text="»»">
            </div>
        </div>
    </div>
<div class="orders-row" ng-repeat="order in orders">
    <div class="row label-row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-3 col-sm-4 col-md-4">
                <p>Заказ №</p>
            </div>
            <div class='col-xs-2 col-sm-2 col-md-2'>
                <p>Тип: </p>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2">
                <p>Коллекция:</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p>Тип цветов:</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p>Кол-во цветов:</p>
            </div>
        </div>
    </div>
    <div class="row orders-info">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-3 col-sm-4 col-md-4">
                <p>{{ order.order.number }}</p>
            </div>
            <div class='col-xs-2 col-sm-2 col-md-2'>
                <p>{{ order.order.product.type }}</p>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2">
                <p>{{ order.order.product.collection }}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p>{{ order.order.product.flowerType }}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p>{{ order.order.product.flowerCnt }}</p>
            </div>
        </div>
    </div>
    <div class="row label-row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-5 col-sm-6 col-md-4">
                <p class="order-label">Контакты:</p>
            </div>
            <div class="col-xs-5 col-sm-6 col-md-4">
                <p class="order-label">Комментарий:</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p class="order-label">Дата:</p>
            </div>
        </div>
    </div>
    <div class="row recipient-info">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class='col-xs-5 col-sm-6 col-md-4'>
                <p>{{ order.order.recipientInfo.email }}</p>
                <p>{{ order.order.recipientInfo.phone }}</p>
            </div>
            <div class="col-xs-5 col-sm-6 col-md-4">
                <p>{{ order.order.recipientInfo.comment}}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <p>{{ order.order.date }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="isAdmin == false">
    <div class="col-xs-12 col-sm-12 col-md-12 unauthorized" >
        <p class="h4">Вы не авторизованы!</p>
    </div>
</div>
    <div class="row row--v20">
        <div class="col-xs-12 text-center">
            <div uib-pagination=""
                 max-size="7"
                 total-items="count"
                 ng-model="vm.pageCount"
                 ng-change="getOrders()"
                 class="pagination-sm"
                 items-per-page="30"
                 style="margin:0px"
                 boundary-links="true"
                 first-text="1"
                 previous-text="«"
                 next-text="»"
                 ng-if="isAdmin != false && orders.length"
                 last-text="»»">
            </div>
        </div>
    </div>
</div>
