.row{
  &--v30 > [class*='col-'] {

    padding-top: 15px;
    padding-bottom: 15px;
  }
  &--v20 > [class*='col-'] {

    padding-top: 10px;
    padding-bottom: 10px;
  }
  &--v10 > [class*='col-'] {

    padding-top: 5px;
    padding-bottom: 5px;
  }
  &--v15 > [class*='col-'] {

    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
}