.animation-name-cross-brow(@value){
  -webkit-animation-name: @value;
  -moz-animation-name: @value;
  -o-animation-name: @value;
  animation-name: @value;
}
.animation-timing-function-cross-brow(@value){
  -webkit-animation-timing-function: @value;
  -moz-animation-timing-function: @value;
  -o-animation-timing-function: @value;
  animation-timing-function: @value;
}
.animation-iteration-count-cross-brow(@value){
  -webkit-animation-iteration-count: @value;
  -moz-animation-iteration-count: @value;
  -o-animation-iteration-count: @value;
  animation-iteration-count: @value;
}
.animation-delay-cross-brow(@value){
  -webkit-animation-delay: @value;
  -moz-animation-delay: @value;
  -o-animation-delay: @value;
  animation-delay: @value;
}
.animation-duration-cross-brow(@value){
  -webkit-animation-duration: @value;
  -moz-animation-duration: @value;
  -o-animation-duration: @value;
  animation-duration: @value;
}
.animation-fill-mode-cross-brow(@value){
  -webkit-animation-fill-mode: @value;
  -moz-animation-fill-mode: @value;
  -o-animation-fill-mode: @value;
  animation-fill-mode: @value;
}
.box-shadow-cross-brow(@shadow){
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}
.border-bottom-right-radius-cross-brow(@radius){
  border-bottom-right-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomright: @radius;
}
.border-bottom-left-radius-cross-brow(@radius){
  border-bottom-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
}
.border-top-right-radius-cross-brow(@radius){
  border-top-right-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topright: @radius;
}
.border-top-left-radius-cross-brow(@radius){
  border-top-left-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
}
.border-radius-cross-brow(@radius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.transition-cross-brow(@time){
  -webkit-transition: @time;
  -moz-transition: @time;
  -ms-transition: @time;
  -o-transition: @time;
  transition: @time;
}
.transition-delay-cross-brow(@value){
  -webkit-transition-delay: @value;
  -moz-transition-delay: @value;
  -ms-transition-delay: @value;
  -o-transition-delay: @value;
  transition-delay: @value;
}

.transition-duration-cross-brow(@value){
  -webkit-transition-duration: @value;
  -moz-transition-duration: @value;
  -ms-transition-duration: @value;
  -o-transition-duration: @value;
  transition-duration: @value;
}

.transitioun-property-cross-brow(@value){
  -webkit-transition-duration: @value;
  -moz-transition-duration: @value;
  -ms-transition-duration: @value;
  -o-transition-duration: @value;
  transition-duration: @value;
}

.transform-cross-brow(@value){
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}
.transform-origin-cross-brow(@value){
  -webkit-transform-origin:@value;
  -moz-transform-origin:@value;
  -ms-transform-origin:@value;
  -o-transform-origin:@value;
  transform-origin:@value;
}
.rotate-cross-brow(@deg: 90) {
  /* Safari */
  -webkit-transform: rotate(@deg * 1deg);
  /* Firefox */
  -moz-transform: rotate(@deg * 1deg);
  /* IE10+ */
  transform: rotate(@deg * 1deg);
  /* Opera */
  -o-transform: rotate(@deg * 1deg);
  /* Internet Explorer */
  @IEdeg: round(@deg / 90, 0);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@IEdeg);
}
.transition-timing-function-cross-brow(@value) {
  -webkit-transition-timing-function: @value;
  -moz-transition-timing-function: @value;
  -ms-transition-timing-function: @value;
  -o-transition-timing-function: @value;
  transition-timing-function: @value;
}
.gradient (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor, @endColor) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}
.user-select-cross-brow(@value){
  -webkit-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}