/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * @ Sanchez Weezer all rights on this styles reserved.
 */

//######################################################################################################################
//
//                  FONTS
//
//######################################################################################################################

@FontFamily:                            'Roboto','Lato', sans-serif;



//######################################################################################################################
//
//                  COLORS
//
//######################################################################################################################

//==========================
//        black
//==========================

@black1:                                             rgba(0,0,0,.12);
@black2:                                             rgba(0,0,0,.38);
@black3:                                             rgba(0,0,0,.54);
@black4:                                             rgba(0,0,0,.87);
@black5:                                             rgba(0,0,0,1);
@black6:                                             rgba(8, 8, 8, 0.87);

//==========================
//        black
//==========================

@gray1:                                             #F5F5F5;

//==========================
//        white
//==========================

@white1:                                             rgba(255,255,255,.3);
@white2:                                             rgba(255,255,255,.5);
@white3:                                             rgba(255,255,255,.7);
@white4:                                             rgba(255,255,255,.87);
@white5:                                             #fff;

//==========================
//        red
//==========================

@red1:                                               rgba(229,57,53,.3);
@red2:                                               rgba(229,57,53,.5);
@red3:                                               rgba(229,57,53,.7);
@red4:                                               rgba(229,57,53,.87);
@red5:                                               #E53935;

//==========================
//        light blue
//==========================

@lightBlue1:                                         rgba(115,209,221,.12);
@lightBlue2:                                         rgba(115,209,221,.2);
@lightBlue3:                                         rgba(115,209,221,.38);
@lightBlue4:                                         rgba(115,209,221,.5);
@lightBlue5:                                         rgba(115,209,221,.54);
@lightBlue6:                                         rgba(115,209,221,.87);
@lightBlue7:                                         #73D1DE;

//######################################################################################################################
//
//                  SHADOWS
//
//######################################################################################################################
@boxShadowNoneImp: none !important;

@boxShadowNone: none;

@materialShadowWrap_Double:                           0 -1px 1px 0 rgba(0, 0, 0, 0.14),
                                                      0 -2px 3px 0 rgba(0, 0, 0, 0.12),
                                                      0 1px 1px 0 rgba(0, 0, 0, 0.14),
                                                      0 2px 3px 0 rgba(0, 0, 0, 0.12),
                                                      0 1px 1px 0 rgba(0, 0, 0, 0.2);

@materialShadowWrap_third:                            0 -1px 1px 0 rgba(0, 0, 0, 0.14),
                                                      0 -2px 3px 0 rgba(0, 0, 0, 0.18);
@materialShadowTile:                                  0 2px 1px 1px rgba(0, 0, 0, 0.12),
                                                      0 1px 1px 0 rgba(0, 0, 0, 0.14),
                                                      0 1px 3px 0 rgba(0, 0, 0, 0.20);