.toast{
  padding: 15px;
  .border-radius-cross-brow(4px);
  opacity: .9;
  .box-shadow-cross-brow(@materialShadowWrap_Double);

  .toast-body{
    display: inline-block;
    margin-left: 10px;
  }

  i.fa{
    display: inline-block;
    vertical-align: super;
  }
  &.toast-info{
    background-image: none;
    //background: @toastInfoBg;
  }
  &.toast-success{
    background-image: none;
    //background: @toastSuccessBg;
  }
  &.toast-error{
    background-image: none;
    //background: @toastErrorBg;
  }
  &.toast-warning{
    background-image: none;
    //background: @toastWarningBg;
  }
}