@media only screen and (max-width: 400px) {

  .comment-hint {
    display: block;
  }

}

.modal-content {
  border-radius: 2px;
}

.order {
  background: #eee;
}

.comment-field {
  height: 100px;
  resize: none;
}

.order-details {
  margin: 15px 0;
}

.order-img {
  height: 140px;
  background-position: center;
  background-size: cover;
}

.comment-label {
  padding: 5px 0;
}

.order-favicon {
    text-align: center;
}

.price {
  font-size: 30px;
}

.comment-label {
  font-weight: bold;
}

.h3 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.modal-buttons {
    text-align: right;
}

.modal-buttons > button{
    display: inline-block;
}