<div class="modal-body order">
    <div class="container-fluid">
        <div class="row">
            <div class="order-favicon col-xs-12 col-sm-12 col-md-12">
                <img src="/assets/images/favicon-32x32.png">
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 header">
              <span class="h3">Оформление заказа</span>
          </div>
      </div>
      <div class="row order-details">
          <div class="order-img col-xs-6 col-sm-3 col-md-3" ng-style="{'background-image': 'url(/file/normal/' + model.images[0] + ')'}"></div>
          <div class="col-xs-6 col-sm-9 col-md-9">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                      <p>Цвет коробки: <span>{{ model.descriptions[0] }}</span></p>
                      <p>Количество цветов: <span> {{ model.count }} шт. </span></p>
                      <span class="h4">Цена: <span>{{ model.price }}, 00 &#x20bd;</span></span>
                  </div>
              </div>
          </div>
      </div>
        <form name="myForm">
            <div class="row">
                <div class="form-group col-xs-8 col-sm-8 col-md-8">
                    <label for="client-phone" class="form-control-label">Телефон:</label>
                    <input id="client-phone" type="text" ng-model="recipientInfo.phone" placeholder="8(800)555-35-35">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-8 col-sm-8 col-md-8">
                    <label for="client-email" class="form-control-label">E-mail:</label>
                    <input id="client-email" type="email" ng-model="recipientInfo.email" placeholder="client@pochta.ru">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4"><span class="h4">Комментарий</span></div>
                <div class="col-xs-12 col-sm-8 col-md-8 comment-hint">Можете указать свои пожелания здесь</div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-10 col-sm-10 col-md-10">
                        <textarea class="comment-field" ng-model="recipientInfo.comment" placeholder="Комментарий"></textarea>
                    </div>
                </div>
            </div>
       </form>
        <div class="row">
            <div class="modal-buttons">
                <button type="button" class="btn btn-secondary" ng-click="cancel()">Закрыть</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">Сделать заказ</button>
            </div>
        </div>
    </div>
</div>
