.orders-row:nth-child(odd) {
  background: #CCC;
}

.orders-row {
  border-bottom: 1px solid buttonface;
}

.unauthorized {
  text-align: center;
}

.label-row {
  font-weight: bold;
  padding:     5px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.orders-row p {
  margin: 0;
}

.orders-info {
  padding: 5px 0;
}

.recipient-info {
  padding: 5px 0;
}