.tile{
  &-edit{
    .body{
      background: @white3;
      .border-radius-cross-brow(4px);
      height: 506px;
      .box-shadow-cross-brow(@materialShadowTile);
      padding: 12px;
      position: relative;
      .down-btns{
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        padding: 0 12px;
      }
      &-edit {
        width: 100%;
      }
      .img--list-tmb{
        width: 80px;
        height: 80px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .img-del{
          opacity: 0;
          .transition-cross-brow(.5s);
        }
        &:hover{
          .img-del{
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            background: rgba(0,0,0,.3);
            opacity: 1;
            i.material-icons{
              vertical-align: middle;
              line-height: 80px;
              color: @white2;
            }
          }
        }

      }
      .img-list-wrap{
        height: 220px;
        overflow: scroll;
      }
    }
  }
  &-main{
    .body {
      overflow: hidden;
      background: @white3;
      .border-radius-cross-brow(4px);
      height: 506px;
      .box-shadow-cross-brow(@materialShadowTile);

      .tile-info-wrap{
        position: relative;
        box-shadow: 0 -1px 2px rgba(0,0,0,.3);
        z-index: 10;
        height: 236px;
        padding: 12px 14px;
        padding-top: 0;
        @media (max-width: 321px) {
          padding: 0 14px 12px 14px;
        }
        .text-info{
          height: 45px;
          padding-top: 5px;
        }
        .main-info{
          margin-top: 5px;
          .left{
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
            color: @black2;
            float: left;
          }
          .right{
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: @black3;
            float: right;
          }
        }
        .flower-info{
          margin-top: 5px;

          .left{
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
            color: @black2;
            float: left;
          }
          .right{
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: @black3;
            float: right;
          }
        }
        .size-choose{
          .main-span{
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
            color: @black2;
            margin-bottom: 10px;
          }
          .box-item{
            cursor: pointer;
            display: inline-block;
            opacity: .5;
            width: 25%;
            &.active{
              opacity: 1;
              .price {
                color: @black4;
              }
            }

            .icn{
              margin: 0 auto;
            }
            .name{
              text-align: center;
              @media (max-width: 426px) {
                font-size: 12px;
              }
            }
            .price{
              font-size: 14px;
              line-height: 14px;
              font-weight: 300;
              color: @black2;
              height: 14px;
              text-align: center;
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
      .item-name{
        margin-top: 5px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: @black4;
        margin-bottom: 2px;
        height: 38px;
      }
      .main-price{
        display: inline-block;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: @black4;
        float: left;
      }
      .btn-order{
        display: inline-block;
        float: right;
      }
      .dropdown-menu {
        position: relative;
        width: 100%;
        bottom: 98px;
        margin: 0;
        padding: 5px;
        border: 0px;
        background: #73d1dd;
        text-align: center;
      }
      .img-list-carousel{
        position: relative;
        display: inline-block;
        width: 285px;
        height: 280px;
        i.material-icons{
          position: absolute;
          top: 0;
          vertical-align: middle;
          line-height: 280px;
          font-size: 40px;
          color: @white3;
          text-shadow: 0 2px 4px rgba(0,0,0,.5);
          .user-select-cross-brow(none);
          cursor: pointer;
          .transition-cross-brow(.5s);
          &:hover{
            color: @white5;
          }
        }
        @media (max-width: 426px) {
          width: 100%;
        }
        @media (max-width:1025px) and (min-width:1024px) {
          width: 80%;
          overflow-x: hidden;
        }
      }
      .img-wrap{
        margin-bottom: -5px;
      }

      .main-img{
        display: inline-block;
        width: 285px;
        height: 280px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width:426px) and (min-width: 320px) {
          width: 100%;
        }
      }
      .img-tmb-wrap{
        position: relative;
        cursor: pointer;
        i.material-icons{
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          line-height: 73px;
          text-align: center;
          background: transparent;
          color: transparent;
          .transition-cross-brow(.5s);
        }
      }
      .active-img{
        &.first{
          .border-top-right-radius-cross-brow(4px);
          i.material-icons{
            .border-top-right-radius-cross-brow(4px);
          }
        }
        i.material-icons{
          cursor: default;
          .user-select-cross-brow(none);
          display: block;
          background: @lightBlue3;
          position: absolute;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          line-height: 73px;
          text-align: center;
          color: @white3;
        }
      }
      .img-list{
        .border-top-right-radius-cross-brow(4px);
        position: relative;
        z-index: 9;
        width: ~'calc(100% - 285px)';
        height: 280px;
        display: inline-block;
        overflow-y: scroll;
        overflow-x: hidden;
        .box-shadow-cross-brow(-1px 0 2px rgba(0,0,0,.3));
        .img-tmb{
          width: 100%;
          height: 73px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .chosen {
          opacity: 1;
        }
        @media (max-width: 426px) and (min-width: 320px) {
          display: none;
        }
        @media (max-width: 1025px) and (min-width: 1024px), handheld and (max-width:736px) and (orientation:landscape) {
          width: 20%;
        }
       }
    }
  }
}

.delete {
  vertical-align: middle;
  display: inline-block;
  float: right;
  height: 34px;
}

.edit {
  height: 34px;
  float: right;
  margin-right: 5px;
}
.btn-group {

}

 .btn {
   &-group {
     margin: 8px 0;
     .material-icons {
       font-size: 18px;
     }
   }
   &-nav {
     display: inline-block;
     margin-right: 5px;
     cursor: pointer;
   }
   &-save {
     display: inline-block;
     height: 32px;
     cursor: pointer;
   }
 }